<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countly Web SDK Demo</title>
    <link href='css/style.css' rel='stylesheet' type='text/css'>
    <link rel="icon" href="https://avatars3.githubusercontent.com/u/1756970?s=200&v=4">

    <!--Countly script-->
    <script type='text/javascript' src='js/countly/lib/countly.js'></script>
    <script type='text/javascript'>

        //initializing countly with params
        Countly.init({
            app_key: "843d076292edeb81832c9627dc6658a059f540d9",
            url: "https://try.count.ly", //your server goes here
            debug: true
        })
        //track sessions automatically
        Countly.track_sessions();

        //track pageviews automatically
        Countly.track_pageview();

        //track any clicks to webpages automatically
        Countly.track_clicks();

        //track link clicks automatically
        Countly.track_links();

        //track form submissions automatically
        Countly.track_forms();

        //track javascript errors
        Countly.track_errors({ jquery: "1.10", jqueryui: "1.10" });
    </script>
</head>
<body>
    {{>sidebar}}
    <div class="main">
        {{>header}}
        <div class="content">
            <h3 id='header'></h3>
            <p><input type="button" id="optButton" onclick="testOpt()" value=""></p>
        </div>
		{{>footer}}
    </div>

    <script type='text/javascript'>
        //send event on button click
        function testOpt() {
            if (Countly.ignore_visitor) {
                Countly.opt_in();
            }
            else {
                Countly.opt_out();
            }
            setOpt();
        }
        function setOpt() {
            if (Countly.ignore_visitor) {
                //opted out, allow opt in
                document.getElementById("header").innerHTML = "You are Opted Out";
                document.getElementById("optButton").value = "Opt in";
            }
            else {
                document.getElementById("header").innerHTML = "You are Opted In";
                document.getElementById("optButton").value = "Opt out";
            }
        }
        setOpt();
    </script>

    <script src="js/script.js"></script>
</body>
</html>