<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countly Web SDK Demo</title>
    <link href='css/style.css' rel='stylesheet' type='text/css'>
    <link rel="icon" href="https://avatars3.githubusercontent.com/u/1756970?s=200&v=4">

    <!--Countly script-->
    <script type='text/javascript' src='js/countly/lib/countly.js'></script>
    <script type='text/javascript'>

        //initializing countly with params
        Countly.init({
            app_key: "843d076292edeb81832c9627dc6658a059f540d9",
            url: "https://try.count.ly", //your server goes here
            debug: true
        })
        //track sessions automatically
        Countly.track_sessions();
        //track pageviews automatically
        Countly.track_pageview();
    </script>
</head>

<body>
    {{>sidebar}}
    <div class="main">
        {{>header}}
        <div class="content">
            <input type="button" id="testButton" onclick="clickEvent(this)" value="Test Button">
        </div>
        {{>footer}}
    </div>

    <script type='text/javascript'>
        //send event on button click
        function clickEvent(ob) {
            Countly.add_event({
                key: "buttonClick",
                "segmentation": {
                    "id": ob.id
                }
            });
        }
    </script>

    <script src="js/script.js"></script>
</body>

</html>