<!--
Example on collecting user information from FaceBook
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countly Web SDK Demo</title>
    <link href='css/style.css' rel='stylesheet' type='text/css'>
    <link rel="icon" href="https://avatars3.githubusercontent.com/u/1756970?s=200&v=4">

    <!--Countly script-->
    <script type='text/javascript' src='js/countly/lib/countly.js'></script>
    <script type='text/javascript'>

        //initializing countly with params
        Countly.init({
            app_key: "a39b94d9d589f2c204e69f5ee28be8a272e5133e",
            url: "http://192.168.126.161/", //your server goes here
            debug: true
        });
        Countly.begin_session();
    </script>

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '948231912290150',
                cookie: true,
                xfbml: true,
                version: 'v2.7'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function CountlyGatherFBData() {
            Countly.collect_from_facebook({ 
                "location": "location.name", 
                "tz": "timezone", 
                "somekey": "none.existing.key" 
            });
        };
    </script>
</head>
<body>
    {{>sidebar}}
    <div class="main">
        {{>header}}
        <div class="content">
            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
             <p><input type="button" id="logoutButton" onclick="logout()" value="Facebook Logout" style="background-color: #3b5998;"></p>
        </div>
		{{>footer}}
    </div>
    <script>
        function logout() {
                FB.getLoginStatus(function (response) {
                    if (response && response.status === 'connected') {
                        FB.logout();
                        alert('User is logged out')
                    }
                });
            }

        function checkLoginState() {
            FB.getLoginStatus(function (stsResp) {
            if (stsResp.authResponse) {
                alert("is logged in");
                CountlyGatherFBData();
            } else {
                FB.login(function (loginResp) {
                    if (loginResp.authResponse) {
                        alert("authenticated");
                        CountlyGatherFBData();
                    } else {
                        alert('Please authorize this application to use it!');
                    }
                });
            }
        });
        }
    </script>
    <script src="js/script.js"></script>
</body>
</html>