<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countly Web SDK Demo</title>
    <link rel="icon" href="https://avatars3.githubusercontent.com/u/1756970?s=200&v=4">
    <link href='css/style.css' rel='stylesheet' type='text/css'>
</head>

<body>
    {{>sidebar}}
    <div class="main">
        {{>header}}
        <div class="content">
            
        </div>
		{{>footer}}
    </div>
    <script src="js/script.js"></script>
</body>

</html>