<footer>
    <a style="flex-flow: row-reverse;" href="https://support.count.ly/hc/en-us/articles/360037441932-Web-analytics-JavaScript-" target="_blank">Web analytics (JavaScript) Documentation</a>
</footer>