<div class="sidenav" style="display: flex; flex-direction: column;">
  <div class="sidenav-links" style="flex-grow: 1;">
    <a href="/async">Asynch</a>
    <a href="/sync">Synch</a>
    <a href="/apm">APM</a>
    <a href="/fb">Facebook</a>
    <a href="/formdata">Form Data</a>
    <a href="/ga-adapter">Google Analitycs Adapter</a>
    <a href="/gdpr">GDPR</a>
    <a href="/helpers">Helpers</a>
    <a href="/opt-mechanism">Opt-In/Opt-Out</a>
    <a href="/remote-config">Remote Config</a>
    
  </div>
  <a href="https://support.count.ly/hc/en-us" target="_blank">
    <img src="img/countly-logo-dark-bg.png" style="padding: 0px 0px 30px 0px; 
    display: block;
    margin-right: auto;
    width: 50%;
    color:white;
    " alt="Countly">
  </a>
  
</div>